BasedOnStyle: Microsoft
IndentWidth: 4
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AlignAfterOpenBracket: DontAlign
PointerAlignment: Left
ReferenceAlignment: Pointer
